label.form-label {
    font-weight: bold;
}

a:hover {
    text-decoration: none !important;
}

.label-lg {
    width: 100%;
}

.calendar-nav-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    font-weight: bold;
    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.calendar-nav-item {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    font-weight: bold;
    color: #000000;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.calendar-nav-item-selected {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    font-weight: bold;
    color: #000000;
    background-color: #ddd;
    border: 1px solid #dee2e6;
}

.login-bg {
    background-color: #495057;
}

.login-title {
    color: #ffffff;
}

.ui-dialog-titlebar-close {
    background-image: url("../images/ui-icons_777777_256x240.png");
}